uvloop==0.11.2
aiohttp==3.4.2
aiohttp-xmlrpc==0.7.4
asn1crypto==0.24.0
async-timeout==3.0.0
attrs==18.2.0
cffi==1.11.5
chardet==3.0.4
cryptography==2.3.1
idna==2.7
idna-ssl==1.1.0
lxml==4.2.4
multidict==4.3.1
pycparser==2.18
scapy==2.4.0
six==1.11.0
yarl==1.2.6
